*{
  /*box-sizing: border-box;*/
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
.line {
  border: 1px solid #959393;
}

#box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 800px;
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 200px;
}

li {
  padding: 10px;
}
li:hover {
  background: #aaa8a8;
}

.right {
  display: flex;
  width: 590px;
  flex-direction: column;
  justify-content: space-between;
}

.chat {
  display: flex;
  height: 550px;
  flex-direction: column;
}

.title {
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.chat-window{
  height: 510px;
}

.message {
  padding: 10px 20px;
}
.message .name{
  font-size: 14px;
  color: #777;
}
.message .say {
  text-indent: 2em;
}

.function {
  display: flex;
  justify-content: space-between;
  height: 40px;
  /*background: red;*/
}
input {
  width: 500px;
  outline: none;
  font-size: 18px;
  text-indent: 10px;
}
.btn{
  width: 80px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.system{
  font-size: 14px;
  text-align: center;
  color: #777;
}

.self {
  color: #c06;
}